
*{
    margin:0px;
    padding: 0px;
}
.form-card{
    margin-top: 50px;
    padding: 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}
.form-card .btn{
    width: 100%;
    padding: 12px 20px;
}

.custom-success-alert{
    max-width: 500px;
    width: 100%;
    margin: 20px auto 0px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}
.single-gallery-item{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    position: relative;
}
.gallery-img{
    height: 270px;
}
.single-gallery-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.single-gallery-item a{
    margin: 15px 0px !important;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: block;
}
.gallery-img::after{
    position: absolute;
    content: "";
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
     height: 270px;
    background: #000;
    opacity: 0.5;
    border-radius: 15px;
}
.delete-gallery button{
    padding: 8px 10px;
    background: red;
    border-radius: 5px;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.single-gallery-item:hover .delete-gallery button{
    visibility: visible;
    opacity: 1;
}
.delete-gallery button svg{
    fill:#FFF;
    stroke: #FFF;
}
.delete-gallery{
    position: absolute;
    right: 30px;
    top: 30px;
}
